@font-face {
  font-family: Satisfy;
  src: url(./fonts/Satisfy-Regular.ttf)
}

body {
  background-color: rgb(71, 68, 68);
  font-family: courier ;
  overflow: hidden;
}


ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li{
  display:inline;
  float:right;
  text-align: center;
  padding: 10px 16px;

  border-right: 1px solid #bbb;
}
li:last-child{
  border-left: 1px solid #bbb;
}
li a{
  display:block;
  color:white;
  text-decoration:none;
}
.active{
  background-color:#59401e;
}


#title {
  font-family: Satisfy;
  font-weight: bolder;
  font-size: 200%;
  color: #0c0;
  display: inline;
  margin-left: 1%;
}

#decisionForm {
  position: absolute;
  bottom: 0%;
  right: 46%;

}

#decision{
  background: transparent;
  border: none;
  outline: none;
  color: #0c0;
}

#startGame{
  position: absolute;
  bottom:0%;
}

 /*Styling for pip boy screen*/
 #screen{
  text-align: center;
  position: fixed;
  animation: colorPulse 5s infinite ease-in-out;
  background-image: radial-gradient(#444, #111);
  box-shadow:0 0 5vmin 1vmin #000 inset;
  box-sizing: border-box;
  font-family: 'Fira Mono', monospace;
  font-size:20px;
  padding:10vmin;
  width: 99.1%;
  overflow: hidden !important;
  margin:0;
}

#screen:before {
  animation: wave 10s infinite ease-in-out;
  content: "";
  height: 20vh;
  left: 0;
  opacity: .5s;
  position: absolute;
  right: 0;
  z-index:1;
  overflow: hidden !important;
}

#screen:after {
  background-image: linear-gradient(transparent, transparent 3px, #222);
  background-size: 4px 4px;
  bottom:0;
  content: "";
  left:0;
  pointer-events:none;
  position:absolute;
  right:0;
  top: 0;
  z-index:2;
  overflow: hidden !important;
}

p:last-child::after{
  animation: blink 1s infinite;
  content: "_";
}


@keyframes colorPulse{
  0%, 100%{
      color: #0c0;
  }
  48%, 52%{
      color:#090;
  }
  50%{
      color: #060;
  }
}

@keyframes wave{
  0%{
      box-shadow:0 -10vh 20vh #0c0;
      top: -100vh;
       overflow: hidden !important;
  }
  48%, 52% {
      box-shadow:0 -10vh 20vh #090;
      overflow: hidden !important;
    }
  50% {
      box-shadow: 0 -10vh 20vh #060;
      overflow: hidden !important;
    }
  100% {
      box-shadow:0 -10vh 20vh #0c0;
      top:200vh;
      overflow: hidden !important;
    }
}

@keyframes blink{
  50% {
      opacity:0;
  }
}